* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: 0 200px;
}

header {
    display: flex;
    justify-content: center;
}
header {
    margin-top: 20px;
}
header a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
header a:hover {
    color: #646464;
}

.info {
    text-align: center;
}

.name {
    margin-top: 200px;
}

.bio {
    margin-top: 6px;
    font-size: 20px;
    font-weight: bold;
    color: #4c4c4c;
}

.bio-study {
    margin-top: 3px;
    color: #242424;
}

.skills {
    margin-top: 20px;
}

.skills-header {
    font-size: 20px;
    font-weight: bold;
}

.skills-list {
    margin-top: 10px;
}

.skills-item {
    display: inline-block;
    padding: 3px 6px;
    border: 2px solid #444444;
    border-radius: 25px;
    color: #353535;
    font-weight: bold;
}

.contacts {
    margin-top: 20px;
}

.contacts-header {
    font-size: 20px;
    font-weight: bold;
}

.contacts-cards {
    margin-top: 10px;
}

.contacts-card {
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #3a3a3a;
    font-size: 30px;
    width: 50px;
    margin: 0 3px;
    border-radius: 20%;
    transition: 0.3s;
}

.contacts-card:hover {
    background-color: #5c5c5c;
}